# "local" | "docker", if you choose local mode, make sure to download the dependencies as explained in the documentation on github
deployment_method="local"


# DOCKER DEPLOYMENT
# docker-config if deployment_method is docker
docker_name="fastapi-lexical_resources"
docker_version="1.0.0"


# ANY DEPLOYMENT
API_host_name="127.0.0.1"
API_port=8003

# choose embeddings to activate - in order of embeddings_metadata.json
embeddings_config="deactivate|deactivate|deactivate|activate"

# choose referentiels to activate - in order of referentiels_metada.json 
# TODO

# converting options?
# TODO
